h2{
    color: orange;
    font-weight: 600 !important;
    text-transform: uppercase;
    border-bottom: 2px solid #333;
    padding-bottom: 6px;
}

h3{
    color: orange;
    text-transform: uppercase;
    
}